# DAODAO contract code IDs (set after uploading WASM to Dungeon Chain)
# See: https://github.com/DA0-DA0/dao-contracts/releases
NEXT_PUBLIC_DAO_CORE_CODE_ID=
NEXT_PUBLIC_DAO_PROPOSAL_SINGLE_CODE_ID=
NEXT_PUBLIC_DAO_PRE_PROPOSE_SINGLE_CODE_ID=
NEXT_PUBLIC_DAO_VOTING_CW4_CODE_ID=
NEXT_PUBLIC_DAO_CW4_GROUP_CODE_ID=
